<div class="background-leave-form" (click)="leaveForm()">
    <div class="sticky-form-container">
        <div class="sticky-form" (click)="stayOnForm($event)">
            <form [formGroup]="modifyUserInfos" (ngSubmit)="submit()">
                <div class="form-group-new-post d-flex flex-column flex-center">
                    <label>Prénom</label>
                    <input type="text" formControlName="firstName" id="firstName"
                        [ngClass]="{'border-invalid': modifyUserInfos.controls['firstName'].invalid && ((modifyUserInfos.controls['firstName'].dirty || modifyUserInfos.controls['firstName'].touched))}">
                    <div *ngIf="modifyUserInfos.controls['firstName'].invalid && (modifyUserInfos.controls['firstName'].dirty || modifyUserInfos.controls['firstName'].touched)"
                        class="alert-light-bg">
                        <div *ngIf="modifyUserInfos.controls['firstName'].errors?.['required']">Vous devez entrer un nom
                        </div>
                    </div>
                </div>
                <div class="form-group-new-post d-flex flex-column flex-center">
                    <label>Nom</label>
                    <input type="text" formControlName="lastName" id="lastName"
                        [ngClass]="{'border-invalid': modifyUserInfos.controls['lastName'].invalid && ((modifyUserInfos.controls['lastName'].dirty || modifyUserInfos.controls['lastName'].touched))}">
                    <div *ngIf="modifyUserInfos.controls['lastName'].invalid && (modifyUserInfos.controls['lastName'].dirty || modifyUserInfos.controls['lastName'].touched)"
                        class="alert-light-bg">
                        <div *ngIf="modifyUserInfos.controls['lastName'].errors?.['required']">Vous devez entrer un
                            prénom
                        </div>
                    </div>
                </div>
                <div class="form-group-new-post d-flex flex-column flex-center">
                    <label>Bio</label>
                    <textarea formControlName="bio" rows="3"></textarea>
                </div>
                <div class="form-group-new-post flex-center d-flex flex-column">
                    <div>
                        <label for="file-upload" class="cursor-pointer file-input"><i class="fa-regular fa-image"></i>
                            Ajouter une
                            image</label>
                        <input id="file-upload" type="file" accept="image/*" (change)="newFile($event)">
                    </div>
                    <img [src]="this.image" *ngIf="this.image" class="file-view" />
                </div>
                <div class="alert-light-bg" *ngIf="error">{{errorLog}}</div>
                <button [disabled]="!modifyUserInfos.valid" [ngClass]="{'cursor-not-allowed': !modifyUserInfos.valid,
                'btn-disabled-dark': !modifyUserInfos.valid}" class="btn btn-ternary">Valider ces
                    modifications</button>
            </form>
        </div>
    </div>
</div>