nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    width: 100%;
    img {
        padding: 3px 0px 3px 3px;
        height: 100%;
        &:hover {
            cursor: pointer;
        }
    }
}

ul {
    display: flex;
    align-items: center;
    li {
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
        list-style-type: none;
        background-color: var(--light-accent);
        &:hover {
            cursor: pointer;
            transition: 1s;
            background-color: var(--primary);
        }
    }
}
