<div class="background-leave-form" (click)="leaveForm()">
    <div class="sticky-form-container">
        <div class="sticky-form" (click)="stayOnForm($event)">
            <form [formGroup]="newPostForm" (ngSubmit)="submit()">
                <div class="form-group-new-post flex-center">
                    <label>Titre</label>
                    <input type="text" (keyup)="saveTitle()" formControlName="title">
                </div>
                <div class="form-group-new-post flex-center">
                    <label>Message</label>
                    <textarea formControlName="content" (keyup)="saveContent()" rows="3"></textarea>
                </div>
                <div class="form-group-new-post flex-center">
                    <label>Image/vidéo</label>
                    <input type="file" (change)="newFile($event)">
                </div>
                <button class="btn btn-ternary">Envoyer!</button>
            </form>
        </div>
    </div>
</div>