.sticky-new-post {
    background-color: purple;
    padding: 20px;
    border-radius: 15px;
    margin: 100px auto;
    max-width: 700px;
}

.form-group-new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-new-post {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.733);
}

button {
    margin-top: 10px;
}
