<div class="background-new-post" (click)="leaveForm()">
    <div class="sticky-new-post" (click)="stayOnForm($event)">
        <form [formGroup]="newPostForm" (ngSubmit)="submit()">
            <div class="form-group-new-post flex-center">
                <label>Titre</label>
                <input type="text" formControlName="title">
            </div>
            <div class="form-group-new-post flex-center">
                <label>Message</label>
                <input type="text" formControlName="content">
            </div>
            <button class="btn">Envoyer!</button>
        </form>
    </div>
</div>