<div class="background-leave-form" (click)="leaveForm()">
    <div class="sticky-form" (click)="stayOnForm($event)">
        <form [formGroup]="changePassword" (click)="submit()">
            <div class="form-group-new-post flex-center">
                <label>Mot de passe actuel</label>
                <div>
                    <input type="password" formControlName="password">
                </div>
            </div>
            <div class="form-group-new-post flex-center">
                <label>Nouveau mot de passe</label>
                <input type="password" formControlName="newPassword">
            </div>
            <button class="btn">Valider ces modifications</button>
        </form>
    </div>
</div>