<div class="background-leave-form" (click)="leaveForm()">
    <div class="sticky-form-container">
        <div class="sticky-form" (click)="stayOnForm($event)">
            <form [formGroup]="changePassword" (ngSubmit)="submit()">
                <div class="form-group-new-post flex-center">
                    <label>Mot de passe actuel</label>
                    <input type="password" formControlName="password">
                </div>
                <div class="form-group-new-post flex-center">
                    <label>Nouveau mot de passe (entre 6 et 20 caractères)</label>
                    <input type="password" formControlName="newPassword" id="newPassword"
                        [ngClass]="{'border-invalid': changePassword.controls['newPassword'].invalid && ((changePassword.controls['newPassword'].dirty || changePassword.controls['newPassword'].touched))}">
                    <div *ngIf="changePassword.controls['newPassword'].invalid && (changePassword.controls['newPassword'].dirty || changePassword.controls['newPassword'].touched)"
                        class="alert-light-bg">
                        <div *ngIf="changePassword.controls['newPassword'].errors?.['required']">Veuillez saisir un mot
                            de
                            passe
                        </div>
                        <div *ngIf="changePassword.controls['newPassword'].errors?.['minlength']">Mot de passe trop
                            court
                        </div>
                        <div *ngIf="changePassword.controls['newPassword'].errors?.['maxlength']">Mot de passe trop long
                        </div>
                    </div>
                </div>
                <div class="alert-light-bg" *ngIf="error">{{errorLog}}</div>
                <button class="btn btn-ternary">Valider ces modifications</button>
            </form>
        </div>
    </div>
</div>