section {
    display: flex;
    flex-direction: column;
}

.posts {
    display: flex;
    flex-direction: column;
}

.posts-box {
    display: flex;
    flex-direction: column;
    background-color: green;
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
    padding: 20px 15px;
}
