<section *ngIf="posts$ | async as posts">
    <div *ngFor="let post of posts;let index = index" class="posts-box">
        <div class="posts">
            <div class="posts__user">
                <img src="{{post.User.profilePicUrl}}" onerror="this.src='../assets/images/defaultuser.png'">
                <h2>{{ post.User.firstName}}</h2>
            </div>
            <h3>{{ post.title}}</h3>
            <img *ngIf="post.fileUrl !== null" src="{{ post.fileUrl }}" alt="">
            <p>{{ post.content}} </p>
            <p>{{ post.createdAt | date}} </p>
            <div *ngIf="post.Comments!.length>0">
                <div *ngFor="let comment of post.Comments!;index as index">
                    <div class="comments" *ngIf="index<(maxComments-1)">
                        <h4>{{ comment.UserId }} </h4>
                        <p>{{ comment.content }} </p>
                        <img *ngIf="comment.fileUrl !== null" src="{{ comment.fileUrl }}" alt="">
                        <p>{{ comment.createdAt | date}} </p>
                    </div>
                </div>
                <button class="btn" (click)="updateMaxComments(index)"
                    *ngIf="post.Comments!.length>maxComments || post.Comments!.length===maxComments && commentIndex === index">Afficher
                    plus de commentaires</button>
            </div>
        </div>
        <button class="btn" *ngIf="!newComment || commentIndex !== index" (click)="postComment(index)">Ajouter
            un
            commentaire</button>
        <div *ngIf="newComment && commentIndex === index">
            <form [formGroup]="newCommentForm" (ngSubmit)="submit()">
                <div class="form-group-new-post flex-center">
                    <label>Message</label>
                    <input type="text" formControlName="content">
                </div>
                <div class="form-group-new-post flex-center">
                    <label>Image/vidéo</label>
                    <input type="file" (change)="newFile($event)">
                </div>
                <button class="btn">Envoyer!</button>
            </form>
        </div>
    </div>
</section>