.user-info-box {
    display: flex;
    max-width: 300px;
    min-width: 150px;
    margin: 0 20px 0 20px;
    background-color: red;
    border-radius: 20px;
    padding: 20px 15px;
}

button {
    display: block;
    margin: 20px auto;
}
