// .container {
//     display: flex;
//     background-color: #ddd;
//     max-width: 100%;
//     margin: auto;
// }

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 400px;
    li {
        border-radius: 3px;
        padding: 10px;
        list-style-type: none;
        background-color: var(--light-accent);
        &:hover {
            cursor: pointer;
            transition: 1s;
            background-color: var(--primary);
        }
    }
}

.welcome-content {
    margin: auto;
}

h1 {
    text-align: center;
}
