.container {
    display: flex;
    margin: 20px auto;
}

.profile-picture {
    background-color: var(--ternary);
    border-radius: 15px;
    width: 222px;
    padding: 10px;
}

img {
    border-radius: 15px;
    object-fit: cover;
    width: 192px;
}

.user-infos {
    flex: 1;
    padding: 15px 15px;
    background-color: var(--ternary);
    border-radius: 15px;
    margin-left: 20px;
}

.btn {
    margin: 5px auto auto 0;
}
