<div *ngIf="users$ | async as user" class="container">
    <div class="profile-picture">
        <img src="{{user.profilePicUrl}}" onerror="this.src='../assets/images/defaultuser.png'">
    </div>
    <div class="user-infos">
        <h2>{{user.firstName}}</h2>
        <h3>{{user.lastName}}</h3>
        <p>{{user.email}}</p>
        <button *ngIf="authId === id || isAdmin || isMod" class="btn" routerLink="updateinfos">Modifier le
            profil</button>
        <button *ngIf="authId === id || isAdmin" class="btn" routerLink="delete">Supprimer le compte</button>
        <button *ngIf="authId === id || isAdmin" class="btn" routerLink="updatepassword">Modifier le mot de
            passe</button>
    </div>
</div>
<router-outlet></router-outlet>